anyio==3.4.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.2"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
cffi==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
h11==0.12.0; python_version >= "3.7" and python_version < "4"
httpcore==0.14.3; python_version >= "3.7" and python_version < "4"
httpx==0.21.1; python_version >= "3.7" and python_version < "4"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.7" and python_version < "4"
importlib-metadata==4.8.2; python_version < "3.10" and python_version >= "3.6"
markdown==3.3.6; python_version >= "3.6"
notion-client==0.8.0; python_version >= "3.7" and python_version < "4"
notiontomd==0.1.4
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygithub==1.55; python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.6"
pynacl==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.7" and python_version < "4"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sniffio==1.2.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.2"
typing-extensions==4.0.1; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
zipp==3.6.0; python_version < "3.10" and python_version >= "3.6"
